<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script defer src="https://kit.fontawesome.com/d62440198c.js" crossorigin="anonymous"></script>
    <title>DBS Replica</title>
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/"><img src="/images/dbs_logo.svg" alt="DBS Logo"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bank</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cards</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Insure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Borrow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Invest</a>
                    </li>
                    <div class="navbar__divider"></div>
                    <li class="nav-item">
                        <a class="nav-link" href="/locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Marketplace</a>
                    </li>
                </ul>
                <div class="nav-item navbar-nav">
                    <% if (!user) { %>
                        <a class="nav-link" href="/login"><i class="fas fa-lock"></i> Login</a>
                    <% } else { %>
                        <a href="/logout" class="nav-link">Logout</a>
                    <% } %>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <% if (error && error.length > 0) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
        <% if (success && success.length > 0) { %>
            <div class="alert alert-success"><%= success %></div>
        <% } %>
    </div>