<%- include('./partials/header') %>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/images/dbs_logo.svg" alt="DBS Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Bank</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Cards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Insure</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Borrow</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Invest</a>
            </li>
            <div class="navbar__divider"></div>
            <li class="nav-item">
              <a class="nav-link" href="#">Learn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Marketplace</a>
            </li>
          </ul>
          <div class="nav-item navbar-nav">
              <a class="nav-link" href="/login"><i class="fas fa-lock"></i> Login</a>
          </div>
        </div>
    </nav>
</div>


<%- include('./partials/footer') %>